*{
   box-sizing:border-box;
  
}

.builder-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding : 8px 10px;
}



.msg-container{
  background-color: #ded8d8; 
  border: 2px dashed #444;    
  border-radius: 14px;              
  display: flex;
  justify-content: center;   
  align-items: center;       
  text-align: center;        
  min-height: 150px;         
  margin: auto;
  padding: 40px;

}

.render-message{
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;
  margin: 0;
}

.render-message span{
  font-size: 0.9rem;
  font-weight: 400;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  gap: 8px;             
  margin-bottom: 20px;  
}

button{
  transition: 0.2s
}

.controls button{
  padding: 8px 14px;
  border: 1px solid #1a1919;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

button.export-btn{
  background-color: #7a95ed; /* A clean, modern blue */
  color: rgb(36, 35, 35);
  font-size: 13px;

  white-space: nowrap;
  display: inline-block;
  min-width: fit-content;

  margin-left: 6px;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
button.import-btn{
  background-color: #7a95ed; /* A clean, modern blue */
  color: rgb(36, 35, 35);
  font-size: 13px;

  white-space: nowrap;
  display: inline-block;
  min-width: fit-content;

  margin-left: 6px;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

button.previewMode-btn{
  color: rgb(36, 35, 35);
  font-size: 13px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  white-space: nowrap;
  display: inline-block;
  min-width: fit-content;

  margin: auto;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

button.submit-btn{
  background-color: #2453ec;
  color: rgb(233, 229, 229);
  font-size: 15px;
  display: block;

  white-space: nowrap;
  min-width: fit-content;
  width: 180px;

  margin: auto;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

}
button.submit-btn:hover{
  background-color: #456ced;
  border-color: #474444;
}

button:hover{
  background-color: #e2e2e2; /* Slightly darker than the default light grey */
  border-color: #adadad;
}

.submit-success{
  display: block;
  text-align: center;
  margin-top: 16px;
  font-size: 17px;
  font-weight: 300;
}

.controls select{
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
}




