.builder-container{
  max-width: 400px;
  margin: auto;
  padding : 8px 10px;
}

.msg-container{
  background-color: #ded8d8; /* Dark gray/black background */
  border: 2px dashed #444;    /* The dashed border */
  border-radius: 14px;       /* Rounded corners */
  padding: 30px 40px;             /* Space inside the box */
  display: flex;
  justify-content: center;   /* Horizontal center */
  align-items: center;       /* Vertical center */
  text-align: center;        /* Center the text lines */
  min-height: 150px;         /* Give it some height */
  margin: 30px 0;

}

.render-message{
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;
  margin: 0;
}

.render-message span{
  font-size: 0.9rem;
  font-weight: 400;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  gap: 8px;             
  margin-bottom: 20px;  
}

button{
  transition: 0.2s
}

.controls button{
  width: 100px;
  padding: 6px 10px;
  border: 1px solid #1a1919;
  border-radius: 3px;
  margin-top : 9px;
  cursor: pointer;
  font-size: medium;
  font-weight: 300;
}

button.export-btn{
  background-color: #7a95ed; /* A clean, modern blue */
  color: rgb(36, 35, 35);
  font-size: 13px;

  white-space: nowrap;
  display: inline-block;
  min-width: fit-content;

  margin-left: 6px;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

button:hover{
  background-color: #e2e2e2; /* Slightly darker than the default light grey */
  border-color: #adadad;
}

.controls select{
  margin-top : 9px;
  margin-left: 10px;    
  width: 150px;
  height: 30px; 
  font-size: 16px;       
  
}




